<div class="applications-view" [ngClass]="activePanel ? 'side-panel__open' : 'side-panel__closed'">
  <h1 class="sr-only">Find Applications in British Columbia</h1>

  <div class="side-nav">
    <ul>
      <li class="side-nav-item" [ngClass]="{'active': activePanel === Panel.find}">
        <button class="btn" (click)="togglePanel(Panel.find)">
          <i class="material-icons">search</i>
          <div>Find</div>
        </button>
      </li>
      <li class="side-nav-item" [ngClass]="{'active': activePanel === Panel.Explore}">
        <button class="btn" (click)="togglePanel(Panel.Explore)">
          <i class="material-icons">visibility</i>
          <div>Explore</div>
        </button>
      </li>
      <li class="side-nav-item" [ngClass]="{'active': activePanel === Panel.details}">
        <button class="btn" (click)="togglePanel(Panel.details)">
          <i class="material-icons">info</i>
          <div>Details</div>
        </button>
      </li>
    </ul>
  </div>

  <div class="side-panel">
    <button class="close-btn btn btn-icon" (click)="closeSidePanel()">
      <i class="material-icons">close</i>
    </button>
    <app-find-panel #findPanel
      (update)="handleFindUpdate($event)"
      [hidden]="activePanel !== Panel.find">
    </app-find-panel>
    <app-explore-panel #explorePanel
      (update)="handleExploreUpdate($event)"
      [hidden]="activePanel !== Panel.Explore">
    </app-explore-panel>
    <app-details-panel #detailsPanel
      (update)="handleDetailsUpdate($event)"
      [hidden]="activePanel !== Panel.details">
    </app-details-panel>
  </div>

  <div class="main-panel">
    <div class="app-results">
      <span class="app-results__count">
        <span *ngIf="totalNumber == 0">No Results Found</span>
        <span *ngIf="totalNumber> 0"><strong>{{totalNumber}}</strong> {{totalNumber !== 1 ? 'Applications' : 'Application'}} Found</span>
      </span>
      <span class="app-results__clear" *ngIf="areFiltersSet()">
        <button class="clear-btn btn btn-sm btn-link" (click)="clearFilters();">Clear Filters</button>
      </span>
    </div>
    <app-map class="app-map" #appmap
      [isLoading]="isLoading"
      [applications]="apps"
      (toggleCurrentApp)="applist.toggleCurrentApp($event)"
      (updateCoordinates)="updateCoordinates()">
    </app-map>
  </div>

</div>
