<div class="popup-content" *ngIf="!app">
  Loading application details...
</div>

<div class="popup-content" *ngIf="app">
  <div class="file-number">Crown Land File: {{app['clFile'] || '-'}}</div>

  <div class="applicant-name">{{app['applicants'] | titlecase}}</div>
  <div class="purpose">{{app.purpose | titlecase}} - {{app.subpurpose | titlecase}}</div>

  <ul class="status-container">
    <li class="app-status"
      [ngClass]="{
        'amendment':       applicationService.isAmendment(app),
        'abandoned':       applicationService.isAbandoned(app),
        'under-review':    applicationService.isApplicationUnderReview(app),
        'review-complete': applicationService.isApplicationReviewComplete(app),
        'approved':        applicationService.isDecisionApproved(app),
        'not-approved':    applicationService.isDecisionNotApproved(app),
        'unknown':         applicationService.isUnknown(app)
      }">{{applicationService.getStatusStringLong(app)}}
    </li>
    <li class="commenting-status"
      [ngClass]="commentPeriodService.isOpen(app.cpStatus) ? 'commenting-open':'commenting-closed'">
      {{commentPeriodService.getStatusStringLong(app.cpStatus)}}
    </li>
  </ul>

  <button class="app-link btn btn-primary" (click)="showDetails()">View Application Details</button>
</div>
